[data-md-color-scheme="default"] {
    --askanna-a-color:            #5D3EB2;

    --md-primary-fg-color:        #5D3EB2;
    --md-primary-fg-color--light: #ECE5FF;
    --md-primary-fg-color--dark:  #422D80;

    --md-footer-bg-color--dark:   #00000052;

    --md-accent-fg-color:         #422D80;
}

[data-md-color-scheme="slate"] {
    --askanna-a-color:            #8559FF;

    --md-primary-fg-color:        #5D3EB2;
    --md-primary-fg-color--light: #ECE5FF;
    --md-primary-fg-color--dark:  #422D80;

    --md-footer-bg-color--dark:   #00000052;

    --md-accent-fg-color:         #422D80;

    --md-typeset-color:           #ffffffdf;
    --md-admonition-fg-color:     var(--md-typeset-color);
    --md-code-fg-color:           var(--md-typeset-color);

    --md-accent-fg-color:       #8559FF;
}

.md-footer {
    background-color:             #5D3EB2;
}

.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4, .md-typeset h5 {
    color: var(--md-typeset-color);
    font-weight: bold;
}

.md-typeset h3, .md-typeset h4, .md-typeset h5 {
    margin: 2em 0 .5em;
}

.md-typeset h3 {
    font-size: 1.15em;
}

.md-typeset a {
    font-weight: bold;
    color: var(--askanna-a-color);
}

.md-nav__item .md-nav__link--active {
    color: var(--askanna-a-color);
}

p {
    margin-block-start: 0.5em;
}

.embed-content {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
